input.borderless {
    border: none;
    outline: none;
    background-color: transparent;
  }

*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


  body{
    margin: 40px;
    box-sizing: border-box;
    border-color: #9bf567;
    border-width: 10px;
    border-style: double;
   background: #fffefe;
  }

  main{
    background-image: linear-gradient(to left , #b6c9f4 0%, #e4efe9 100%);
    width: 100%;
  }

  .cont-todo{
    margin-left: 50px;
  }

  tr{
    background:#fffefe;
    
  }

  th{
    background: #a0c8e3;
  }

  .header{
    background: #a0c8e3;
    justify-content: center;
  }
  .menubtn {
    margin: 40px;
    margin-top: 20px;
    margin-left: 40px;
   
  }

  .menuayuda{
    margin-left:40px ;
  }
  .summary1 {
    width: 38px;
    height: 35px;
    writing-mode: vertical-lr;
    text-align: center;
    padding: 12px 10px;
    background-color: var(--primColor);
    border-style: groove ;
    border-color: #344786;
    border-radius: 15px;
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
  }
  .summary1::before,
  .summary1::after {
    position: static;
   
  }
  .summary1::before {
    content: "";
   
  }
  .summary1::after {
    content: "|||";
    letter-spacing: -1px;
  }
  .summary1:hover {
    transform: scale(1.1);
  }
  .summary1::marker {
    font-size: 0;
  }
  .summary1::-webkit-details-marker {
    display: none;
  }
  .details1[open] .menu {
    animation-name: menuAnim;
  }
  .details1[open] summary::before {
    content: "X";
  }
  .details1[open] summary::after {
    content: "";
    
  }
  .menu {
    height:fit-content;
    width: fit-content;
    border-radius: 15px;
    border-style: groove;
    border-color: #39456d;
    background-color: var(--primColor);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
  }
  .menu a {
    padding: 5px 8px;
    margin: 0 16px;
    color: var(--secoColor);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
  }
  .menu a:nth-of-type(1) {
    padding-top: 24px;
    
  }
  .menu a:nth-last-of-type(1) {
    border-bottom: none;
    
  }
  .menu a:hover {
    filter: brightness(200%);
    
  }
  .details1::before {
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
  }
  .details1[open]::before {
    animation: fadeMe 300ms linear forwards;
    
  }
  @keyframes menuAnim {
    0% {
      height: 0;
    }
    100% {
      height: 120px;
    }
  }
  @keyframes fadeMe {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }

  .parrafoayuda{
    font-size: larger
  ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .total{
    width: 150px;
    height:60px ;
    color: #17631a;
    font-weight: 400;
    border-color: #a0c8e3;
    border-width: 4px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .total:hover{
    border-color: #012d4a;
    
  }